/* breakpoints - ponto de mudança com cada device */
/* desta linha para cima é resolução menor que 576px */
/* medida css e medida do dispositivo */

// Entendendo transformação, transição e animação CSS

// main #hero .modern-studio h1

@keyframes fadeLeftAnimation{
    from{
        transform: translateX(-300px);
        opacity:0;
    }
    to{
        transform: translateX(0px);
        opacity:1;
    }
}

.fadeLeft{
    
    animation-name: fadeLeftAnimation;
    animation-duration: 1s;
    animation-delay:0.5s;
}

@keyframes fadeRightAnimation{
    from{
        transform: translateX(300px);
        opacity:0;
    }
    to{
        transform: translateX(0px);
        opacity:1;
    }
}

.fadeRight{
    
    animation-name: fadeRightAnimation;
    animation-duration: 1s;
    animation-delay:0.5s;
}
@keyframes fadeUpAnimation{
    from{
        transform: translateY(300px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}

.fadeUp{
    
    animation-name: fadeUpAnimation;
    animation-duration: 1s;
    animation-delay:0.5s;
}