/* seletor universal */
* {
    box-sizing: border-box;
}
/* box-sizing - content-box */
/*
seletor impuro. Seletor de Tag genérica. 
CSS reset.
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Epilogue-Regular";
    a {
        text-decoration: none;
    }
    ol, ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .section-with-padding {
        padding: 92px 23px;
        h2 {
            margin: 25px 0;
            font-size: 3.5em;
        }
        h3, h2 {
            text-align: center;
        }
    }
}