main #hero {
    width: 100%;
    background-color: #28293e;
    margin-top: -80px;
    padding-top: 80px;
    top: 0;
    min-height: 100vh;
}

main #hero p,
main #hero h1 {
    color: #fff;
}

main #hero h2 {
    color: #ef6d58;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 4px;
}

main #hero h1 {
    font-size: 3.5em;
    font-family: "Epilogue-Bold";
    font-weight: 900;
    margin: 0;
}

main #hero p {
    letter-spacing: 1px;
    line-height: 2em;
}

main #hero {
    padding: 90px 5% 5% 5%;
}

main #hero .button-group {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

main #hero .button-group a {
    @include button-base;
    min-width: 150px;    
    color: #fff;
}

/* pseudo seletor. : significa um seletor condicional */
main #hero .button-group button:first-child {
    background-color: #ef6d58;    
}

main #hero .modern-studio .modern-studio-star {
    position: absolute;
}

#hero {
    background-color: #28293E;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: -80px;
    top: 0;
    flex-direction: column;
    figure {
        margin: 0;
    }
    .modern-studio {
        margin-top: 30px;
        > p:nth-child(1) {
            text-transform: uppercase;
            color: #EF6D58;
            font-size: 16px;
        }
        > p.description {
            color: #FFFFFF65;
            line-height: 24px;
        }
        > h1 {
            margin: 20px 0 0 0;
            color: #FFF;
            font-size: 3.5em;
            font-family: "Epilogue-Extra-Bold";
        }
        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            > a {
                width: 155px;
                height: 48px;
                color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                font-size: 16px;
            }
            > a:nth-child(1) {
                background-color: #EF6D58;
                font-weight: 800;    
                text-transform: uppercase;
            }
            > a.contact-us {
                border: 1px solid #FFFFFF65;
            }
        }
    }
    .user-photo {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        img {
            height: 100%;
        }
        > div {
            margin-left: 16px;
            font-size: 16px;
            > q {
                color: var(--font-color-white-85);
            }
            > small {
                display: block;
                color: #FFF;
                margin-top: 8px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main #hero .modern-studio > div {
        justify-content: flex-start;
    }
    main #hero .modern-studio > p.description {
        margin-top: 25px;
    }
    main #hero .modern-studio > div {
        margin-top: 35px;
    }
    main #hero .modern-studio > div a:nth-child(2) {
        margin-left: 20px;
    }
    main #hero .user-photo {
        justify-content: unset;
    }
}

@media screen and (min-width: 960px) {
    main #hero .modern-studio {
        width: 40%;
    }

    main #hero .modern-studio h1 {
        font-size: 4em;
    }

    main #hero picture {
        width: initial;
    }
    #hero {
        .banner {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    #hero {
        .banner {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 5% 8%;
            .image-banner {
                width: 329px;
                height: 334px;
            }
        }
        .modern-studio {
            width: 60%;
            .modern-studio-star {
                position: absolute;
                top: 13vw;
                left: 30vw;
                z-index: 0;
            }
            h1 {
                position: relative;
                margin: 10% 0;
                z-index: 2;
            }
        }
        picture {
            width: 40%;
        }
        .button-group {
            justify-content: flex-start;
            margin-top: 10%;
            button {
                &:first-child {
                    color: #2d2d2d;
                }
            }
            button:nth-child(2) {
                margin-left: 5%;
                font-size: 1.2em;
            }
        }
        .user-photo {
            margin: 0 8%;
        }
    }
}

@media screen and (min-width: 1200px) {
    main #hero .modern-studio {
        width: 45%;
    }

    main #hero .modern-studio h1 {
        font-size: 4.5em;
    }
}