section#latest-work {
    background-color: var(--bg-blue-dark);
    color: var(--font-color-white);
    > div {
        width: 100%;
        select {
            width: 100%;
            padding-left: 16px;
        }
        h2, h4 {
            color: var(--font-color-white);
        }
        .works {
            margin-top: 50px;
            display: grid;
            grid-auto-rows: 416px;
            row-gap: 32px;
            .work-item {
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: 28px;
                padding-bottom: 51px;
                background-repeat: no-repeat;
                background-size: cover;
                &:nth-child(1) {
                    background-image: url("../images/sofa.png");
                }
                &:nth-child(2) {
                    background-image: url("../images/keyboard.png");
                }
                &:nth-child(3) {
                    background-image: url("../images/workmedia.png");
                }
                &:nth-child(4) {
                    background-image: url("../images/dddone.png");
                }
                .badge {
                    height: 38px;
                    background-color: #fff;
                    border-radius: 19px;
                    color: #000;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                }
                .work-name {
                    margin: 23px 0 0 0;
                    font-size: 2.5em;
                }
            }
        }
    }    
}

@media screen and (min-width: 768px) {
    section#latest-work {
        > div {
            .works {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
                .work-item:nth-child(2),
                .work-item:nth-child(3) {
                    grid-column-end: span 2;
                }
            }
        }
    }
}