#latest-blog-post {
    flex-direction: column;
    min-height: 800px;
    padding-top: 100px;
    background-color: #FDF0E9;
    > header {
        height: 100%;
        h3{
            font-weight: normal;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        h2 {
            font-weight: 900;
            font-size: 2em;
        }
    }
    .card-list {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 768px) {
    #latest-blog-post {
        > header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 10%;
            padding-right: 10%;
            align-items: center;
            h2, h3 {
                color: var(--font-color-title);
                margin: 0;
                flex: 1;
          }
          h2 {
              width: 60%;
          }
          h3 {
              color: var(--font-color-title-h3);
              margin-bottom: 5%;
          }
          .card-list {
              h4, span {
                  color: var(--font-color-title);
              }
          }
          button {
              width: 200px;
              height: 50px;
              background-color: #fff;
              border-radius: 5px;
              color: var(--font-color-title);
              box-shadow: 0 3px 9px 0 #39140011;
              font-weight: bold;
              transition-duration: 0.5s;
              cursor: pointer;
              &:hover {
                transform: scale(1.5);
                // animation: efeitoBotao 0.5s;
              }
          }
        }
        >header h2 {
            font-size: 4em;
        }
        >div.card-group {
            display: flex;
            flex-direction: row;
            padding: 2%;
            flex-wrap: wrap;
            justify-content: space-between;
            .card-list {
                margin: 0;
                width: 340px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 224px;
                }
                &:nth-child(3) {
                    margin: 20px auto;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        footer {
            hr {
                border-top: none;
                border-bottom: solid 0.5px #F3D1BF;
                width: 80%;
                margin: 2% auto;
            }
            min-height: 100px;
        }

    }
}

@media screen and (min-width: 1024px) {
    #latest-blog-post {
        > div.card-group {
            margin-top: 40px;
            padding: 0;
            .card-list {
                width: 310px;
                &:nth-child(3) {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #latest-blog-post {
        > div.card-group {
            padding: 0 10%;
            .card-list {
                width: 370px;
            }
        }
    }
}