@charset "UTF-8";
/*
Tudo que for smartphone sem mediaqueries.
*/
/* diretiva CSS é um meta dado que altera um comportamento do código. */
@font-face {
  font-family: "Epilogue-Regular";
  src: url("../fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Epilogue-Regular";
  src: url("../fonts/epilogue/Epilogue-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/epilogue/Epilogue-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/epilogue/Epilogue-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}
/* seletor universal */
* {
  box-sizing: border-box;
}

/* box-sizing - content-box */
/*
seletor impuro. Seletor de Tag genérica. 
CSS reset.
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue-Regular";
  min-height: 4000px;
}

body a {
  text-decoration: none;
}

body ul li {
  list-style: none;
}

form, section {
  display: flex;
}

form {
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #391400;
}

input, select, textarea {
  min-width: 374px;
  height: 48px;
  color: #391400;
  border-radius: 6px;
  border: 0.5px solid #F3D1BF;
  background-color: #fff;
  margin-top: 10%;
  padding-left: 10%;
}

button.show-desktop {
  width: 200px;
}

section {
  background-color: #FDF0E9;
}

section#latest-blog-post,
section#newsletter {
  flex-direction: column;
  min-height: 800px;
}

section#newsletter > header + div {
  background: url("../images/newsletter-map-background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin: 0;
  display: flex;
  align-items: center;
}

section#newsletter {
  padding-top: 5%;
  padding-left: 0;
  padding-right: 0;
}

section#newsletter > header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section div#form-get-in-touch {
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  padding: 2%;
  width: 500px;
  margin-left: 5%;
}

button {
  background-color: #EF6D58;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  margin-top: 10%;
  padding: 0 20px;
  width: 374px;
}

main header,
main section {
  padding: 0 23px;
}

main header.header-top-site {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  color: #fff;
  z-index: 10;
  transition-duration: 0.5s;
  background: linear-gradient(rgba(40, 41, 62, 0), rgba(40, 41, 62, 0));
}

main header.header-top-site.scroll {
  top: -80px;
  transform: translateY(80px);
  transition-duration: 0.5s;
  background: linear-gradient(#28293e, rgba(40, 41, 62, 0));
}

/* especificidade CSS */
main header > div#container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main header > div#container > div {
  display: flex;
  align-items: center;
}

main header > div#container > div > p {
  margin: 0 0 0 14px;
  font-family: "Epilogue-Bold";
  font-size: 1.5em;
}

main header button {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 6px;
  background-color: unset;
}

main #hero {
  width: 100%;
  background-color: #28293e;
  margin-top: -80px;
  padding-top: 80px;
  top: 0;
  min-height: 100vh;
}

main .show-mobile {
  display: block;
}

main .show-desktop {
  display: none;
}

main #hero p,
main #hero h1 {
  color: #fff;
}

main #hero h2 {
  color: #ef6d58;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 4px;
}

main #hero h1 {
  font-size: 3.5em;
  font-family: "Epilogue-Bold";
  font-weight: 900;
  margin: 0;
}

main #hero p {
  letter-spacing: 1px;
  line-height: 2em;
}

main #hero {
  padding: 90px 5% 5% 5%;
}

main #hero .button-group {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

main #hero .button-group button {
  min-width: 150px;
  min-height: 50px;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}

/* pseudo seletor. : significa um seletor condicional */
main #hero .button-group button:first-child {
  background-color: #ef6d58;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 800;
}

main #hero .modern-studio .modern-studio-star {
  position: absolute;
}

main #about-us {
  padding-top: 47px;
  padding-bottom: 115px;
  background-color: #FDF0E9;
}

main #about-us .clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* margin-bottom: 50px; */
}

main #about-us .clients img {
  flex-basis: 150px;
  height: 100%;
  margin-bottom: 25px;
}

main #about-us .clients img:nth-child(5) {
  margin: 0 auto;
}

main #about-us .hr {
  border-color: #F3D1BF;
  margin-top: 50px;
  margin-bottom: 70px;
}

main #about-us .about-section {
  /* border-top: 1px solid;
  padding-top: 70px;
  border-top-color: #F3D1BF; */
  display: flex;
  flex-direction: column;
}

main .section-subtitle {
  color: #EF6D58;
  font-size: 1em;
  text-transform: uppercase;
}

main .section-title {
  color: #391400;
  font-weight: 900;
  font-size: 2.5em;
}

main .section-description {
  color: rgba(57, 20, 0, 0.3960784314);
  font-size: 1em;
  line-height: 30px;
}

main #about-us .about-description > h3 {
  color: #391400;
  font-size: 1.3em;
  font-weight: 400;
}

main .button-link {
  width: 138px;
  height: 48px;
  background-color: #FFF;
  color: #391400;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1882352941);
}

main .about-description .button-link {
  margin-top: 30px;
}

main #about-us .features {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

main #about-us .features .features-items {
  padding: 0;
}

main #about-us .features .features-items li {
  /* list-style-image: url("../images/icons/check.png"); */
  background: url("../images/icons/check.png") no-repeat;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  padding: 10px 0 15px 50px;
  margin-bottom: 15px;
}

/* breakpoints - ponto de mudança com cada device */
/* desta linha para cima é resolução menor que 576px */
/* medida css e medida do dispositivo */
/* Landscape mode */
/* Tablets e desktop antigos - chromebook */
@media (min-width: 768px) {
  main .show-mobile {
    display: none;
  }

  main .show-desktop {
    display: block;
  }

  main header > #container nav ul {
    display: flex;
  }

  main header > #container nav ul li {
    margin-left: 30px;
  }

  main header > #container nav a {
    color: #fff;
  }

  main header > #container > a {
    background-color: unset;
    width: 140px;
    height: 48px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.1882352941);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #hero .banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5% 8%;
  }

  main #hero .modern-studio {
    width: 60%;
  }

  main #hero picture {
    width: 40%;
  }

  main #hero .modern-studio .modern-studio-star {
    position: absolute;
    top: 13vw;
    left: 30vw;
    z-index: 0;
  }

  main #hero .modern-studio h1 {
    position: relative;
    margin: 10% 0;
    z-index: 2;
  }

  main #hero .button-group {
    justify-content: flex-start;
    margin-top: 10%;
  }

  main #hero .button-group button:nth-child(2) {
    margin-left: 5%;
    font-size: 1.2em;
  }

  main #about-us .about-section {
    flex-direction: row;
  }

  main #about-us .features {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  main #about-us .about-section .about-description,
main #about-us .features .about-description {
    margin-left: 50px;
  }
}
#latest-blog-post {
  background-color: #FDF0E9;
}
#latest-blog-post > header h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}
#latest-blog-post > header h2 {
  font-weight: 900;
  font-size: 2em;
  margin: 5%;
}

@media (min-width: 768px) {
  #latest-blog-post > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
  }
  #latest-blog-post > header h2, #latest-blog-post > header h3 {
    color: #391400;
    margin: 0;
    flex: 1;
  }
  #latest-blog-post > header h2 {
    width: 60%;
  }
  #latest-blog-post > header h3 {
    color: #EF6D58;
    margin-bottom: 5%;
  }
  #latest-blog-post > header .card-list h4, #latest-blog-post > header .card-list span {
    color: #391400;
  }
  #latest-blog-post > header button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    color: #391400;
    box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.0666666667);
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #latest-blog-post > header button:hover {
    transform: scale(1.5);
  }
  #latest-blog-post > header h2 {
    font-size: 4em;
  }
  #latest-blog-post > div.card-group {
    display: flex;
    flex-direction: row;
    padding: 2% 10%;
  }
  #latest-blog-post > div.card-group .card-list {
    margin: 5% 5%;
  }
  #latest-blog-post > div.card-group .card-list:first-child {
    margin-left: 0;
  }
  #latest-blog-post footer {
    min-height: 100px;
  }
  #latest-blog-post footer hr {
    border-top: none;
    border-bottom: solid 0.5px #F3D1BF;
    width: 80%;
    margin: 2% auto;
  }
}
/* Maioria dos Desktops */
@media (min-width: 960px) {
  main #hero .modern-studio {
    width: 40%;
  }

  main #hero .modern-studio h1 {
    font-size: 4em;
  }

  main #hero picture {
    width: initial;
  }

  main #about-us .clients img {
    margin-bottom: unset;
  }

  main #about-us .clients img:nth-child(5) {
    margin: initial;
  }
}
/* Notebooks e telas full HD ou superior */
@media (min-width: 1200px) {
  main #hero .modern-studio {
    width: 45%;
  }

  main #hero .modern-studio h1 {
    font-size: 4.5em;
  }

  main #about-us > div {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
/* Extralarge - Ex: Ultrawide, iMacPro ou telas acima de 23" */
