@charset "UTF-8";
@font-face {
  font-family: "Epilogue-Regular";
  src: url("../fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/epilogue/Epilogue-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Epilogue-Extra-Bold";
  src: url("../fonts/epilogue/Epilogue-ExtraBold.ttf") format("truetype");
}
/* seletor universal */
* {
  box-sizing: border-box;
}

/* box-sizing - content-box */
/*
seletor impuro. Seletor de Tag genérica. 
CSS reset.
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue-Regular";
}
body a {
  text-decoration: none;
}
body ol, body ul {
  padding: 0;
}
body ol li, body ul li {
  list-style: none;
}
body main {
  display: flex;
  flex-direction: column;
}
body .section-with-padding {
  padding: 92px 23px;
}
body .section-with-padding h2 {
  margin: 25px 0;
  font-size: 3.5em;
}
body .section-with-padding h3, body .section-with-padding h2 {
  text-align: center;
}

/*
SASS

$color: #000;
*/
/*
CSS
*/
:root {
  --font-color-title: #391400;
  --font-color-title-h3: #EF6D58;
  --bg-default: #FDF0E9;
  --font-color-alpha: #39140065;
  --bg-blue-dark: #28293E;
  --font-color-white: #FFF;
  --font-color-white-85: #FFFFFF85;
  --font-color-f3: #F3D1BF;
}

#hero {
  background-color: #28293E;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: -80px;
  top: 0;
  flex-direction: column;
}
#hero figure {
  margin: 0;
}
#hero .modern-studio {
  margin-top: 30px;
}
#hero .modern-studio > p:nth-child(1) {
  text-transform: uppercase;
  color: #EF6D58;
  font-size: 16px;
}
#hero .modern-studio > p.description {
  color: #FFFFFF65;
  line-height: 24px;
}
#hero .modern-studio > h1 {
  margin: 20px 0 0 0;
  color: #FFF;
  font-size: 3.5em;
  font-family: "Epilogue-Extra-Bold";
}
#hero .modern-studio > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#hero .modern-studio > div > a {
  width: 155px;
  height: 48px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
}
#hero .modern-studio > div > a:nth-child(1) {
  background-color: #EF6D58;
  font-weight: 800;
  text-transform: uppercase;
}
#hero .modern-studio > div > a.contact-us {
  border: 1px solid #FFFFFF65;
}
#hero .user-photo {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
#hero .user-photo img {
  height: 100%;
}
#hero .user-photo > div {
  margin-left: 16px;
  font-size: 16px;
}
#hero .user-photo > div > q {
  color: var(--font-color-white-85);
}
#hero .user-photo > div > small {
  display: block;
  color: #FFF;
  margin-top: 8px;
  font-size: 16px;
}

@media screen and (min-width: 960px) {
  #hero .banner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  #hero .banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5% 8%;
  }
  #hero .banner .image-banner {
    width: 329px;
    height: 334px;
  }
  #hero .modern-studio {
    width: 60%;
  }
  #hero .modern-studio .modern-studio-star {
    position: absolute;
    top: 13vw;
    left: 30vw;
    z-index: 0;
  }
  #hero .modern-studio h1 {
    position: relative;
    margin: 10% 0;
    z-index: 2;
  }
  #hero picture {
    width: 40%;
  }
  #hero .button-group {
    justify-content: flex-start;
    margin-top: 10%;
  }
  #hero .button-group button:first-child {
    color: #2d2d2d;
  }
  #hero .button-group button:nth-child(2) {
    margin-left: 5%;
    font-size: 1.2em;
  }
  #hero .user-photo {
    margin: 0 8%;
  }
}
main #about-us {
  background-color: #FDF0E9;
  padding-top: 45px;
  padding-bottom: 115px;
}

main #about-us .clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main #about-us {
  padding-top: 47px;
  padding-bottom: 115px;
  background-color: #FDF0E9;
}

main #about-us .clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* margin-bottom: 50px; */
}

main #about-us .clients img {
  flex-basis: 150px;
  height: 100%;
  margin-bottom: 25px;
}

main #about-us .clients img:nth-child(1) {
  /* width: 147px; Deixar sem esse estilo para testar o Lighthouse */
}

main #about-us .clients img:nth-child(2) {
  /* width: 108px; Deixar sem esse estilo para testar o Lighthouse */
}

main #about-us .clients img:nth-child(3) {
  /* width: 119px; Deixar sem esse estilo para testar o Lighthouse */
}

main #about-us .clients img:nth-child(4) {
  /* width: 86px; Deixar sem esse estilo para testar o Lighthouse */
}

main #about-us .clients img:nth-child(5) {
  /* width: 126px; Deixar sem esse estilo para testar o Lighthouse */
}

main #about-us .clients img:nth-child(5) {
  margin: auto;
}

main #about-us .clients .row + .row {
  margin-top: 40px;
}

main #about-us .clients .row:nth-child(3) {
  justify-content: center;
}

main .hr {
  margin: 50px 0 70px 0;
  border-color: #F3D1BF;
}

main .section-subtitle {
  font-size: 16px;
  /* Usar em nas fontes */
  color: #d91e00;
  text-transform: uppercase;
  margin-top: 15px;
}

main .section-title {
  font-size: 40px;
  color: #391400;
  font-weight: 800;
}

main .section-description {
  margin-top: 15px;
  color: var(--font-color-title);
  font-size: 16px;
  line-height: 20px;
}

main #about-us .clients img:nth-child(5) {
  margin: 0 auto;
}

main #about-us .hr {
  border-color: #F3D1BF;
  margin-top: 50px;
  margin-bottom: 70px;
}

main #about-us .about-section {
  /* border-top: 1px solid;
  padding-top: 70px;
  border-top-color: #F3D1BF; */
  display: flex;
  flex-direction: column;
}
main #about-us .about-section .image-about {
  width: 329px;
  height: 340px;
}

#about-us .company-data {
  margin-top: 110px;
  display: grid;
  grid-auto-rows: 175px;
}
#about-us .company-data .data-item {
  border: 1px solid var(--font-color-f3);
  padding: 45px 0 0 45px;
  color: var(--font-color-title);
  background-color: unset;
}
#about-us .company-data .data-item:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#about-us .company-data .data-item:nth-child(3) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#about-us .company-data .data-item h4.percentage {
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}
#about-us .company-data .data-item p.data {
  font-size: 20px;
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  #about-us .company-data {
    grid-template-columns: repeat(3, 1fr);
  }
  #about-us .company-data .data-item:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
  }
  #about-us .company-data .data-item:nth-child(3) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
  }
}
section#latest-work {
  background-color: var(--bg-blue-dark);
  color: var(--font-color-white);
}
section#latest-work > div {
  width: 100%;
}
section#latest-work > div select {
  min-width: 100%;
  padding-left: 16px;
}
section#latest-work > div h2, section#latest-work > div h4 {
  color: var(--font-color-white);
}
section#latest-work > div .works {
  margin-top: 50px;
  display: grid;
  grid-auto-rows: 416px;
  row-gap: 32px;
}
section#latest-work > div .works .work-item {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 28px;
  padding-bottom: 51px;
  background-repeat: no-repeat;
  background-size: cover;
}
section#latest-work > div .works .work-item:nth-child(1) {
  background-image: url("../images/sofa.png");
}
section#latest-work > div .works .work-item:nth-child(2) {
  background-image: url("../images/keyboard.png");
}
section#latest-work > div .works .work-item:nth-child(3) {
  background-image: url("../images/workmedia.png");
}
section#latest-work > div .works .work-item:nth-child(4) {
  background-image: url("../images/dddone.png");
}
section#latest-work > div .works .work-item .badge {
  height: 38px;
  background-color: #fff;
  border-radius: 19px;
  color: #000;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}
section#latest-work > div .works .work-item .work-name {
  margin: 23px 0 0 0;
  font-size: 2.5em;
}

@media screen and (min-width: 768px) {
  section#latest-work > div .works {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  section#latest-work > div .works .work-item:nth-child(2),
section#latest-work > div .works .work-item:nth-child(3) {
    grid-column-end: span 2;
  }
}
section#testimonials-section .testimonials {
  display: grid;
  grid-auto-rows: 420px;
  margin-top: 60px;
}
section#testimonials-section .testimonials .testimonial-item {
  border: 1px solid var(--font-color-f3);
  padding: 50px 30px;
  border-radius: 6px;
  cursor: pointer;
  transform: scale(1);
  transition: all ease 0.5s;
}
section#testimonials-section .testimonials .testimonial-item:hover {
  background-color: var(--font-color-white);
  transform: scale(1.2);
  z-index: 10;
}
section#testimonials-section .testimonials .testimonial-item .description {
  margin-top: 35px;
  font-size: 16px;
  line-height: 32px;
  color: var(--font-color-alpha);
}
section#testimonials-section .testimonials .testimonial-item .person {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
section#testimonials-section .testimonials .testimonial-item .person > div {
  margin-left: 25px;
  color: var(--font-color-title);
}
section#testimonials-section .testimonials .testimonial-item .person > div h4 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 800;
}
section#testimonials-section .testimonials .testimonial-item .person > div span {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  section#testimonials-section .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
#latest-blog-post {
  flex-direction: column;
  min-height: 800px;
  padding-top: 150px;
  background-color: #FDF0E9;
}
#latest-blog-post > header h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}
#latest-blog-post > header h2 {
  font-weight: 900;
  font-size: 2em;
}

@media (min-width: 768px) {
  #latest-blog-post > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
  }
  #latest-blog-post > header h2, #latest-blog-post > header h3 {
    color: var(--font-color-title);
    margin: 0;
    flex: 1;
  }
  #latest-blog-post > header h2 {
    width: 60%;
  }
  #latest-blog-post > header h3 {
    color: var(--font-color-title-h3);
    margin-bottom: 5%;
  }
  #latest-blog-post > header .card-list h4, #latest-blog-post > header .card-list span {
    color: var(--font-color-title);
  }
  #latest-blog-post > header button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    color: var(--font-color-title);
    box-shadow: 0 3px 9px 0 #39140011;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #latest-blog-post > header button:hover {
    transform: scale(1.5);
  }
  #latest-blog-post > header h2 {
    font-size: 4em;
  }
  #latest-blog-post > div.card-group {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
  }
  #latest-blog-post > div.card-group .card-list {
    margin: 5% 5%;
  }
  #latest-blog-post > div.card-group .card-list:first-child {
    margin-left: 0;
  }
  #latest-blog-post footer {
    min-height: 100px;
  }
  #latest-blog-post footer hr {
    border-top: none;
    border-bottom: solid 0.5px #F3D1BF;
    width: 80%;
    margin: 2% auto;
  }
}
/*
Tudo que for smartphone sem mediaqueries.
*/
/* diretiva CSS é um meta dado que altera um comportamento do código. */
main header, main section {
  padding: 0 23px;
}

main header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 16px auto;
  color: #FFF;
}

form, section {
  display: flex;
}

form {
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--font-color-title);
}

input, select, textarea {
  min-width: 374px;
  height: 48px;
  color: var(--font-color-title);
  border-radius: 6px;
  border: 0.5px solid #F3D1BF;
  background-color: #fff;
  padding-left: 10%;
}

button.show-desktop {
  width: 200px;
}

section {
  background-color: #FDF0E9;
}

section#newsletter {
  flex-direction: column;
  min-height: 800px;
}

section#newsletter > header + div {
  background: url("../images/newsletter-map-background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin: 0;
  display: flex;
  align-items: center;
}

section#newsletter {
  padding-top: 5%;
  padding-left: 0;
  padding-right: 0;
}

section#newsletter > header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section div#form-get-in-touch {
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  padding: 2%;
  width: 450px;
  margin-left: 5%;
}

section div#form-get-in-touch input,
section div#form-get-in-touch select,
section div#form-get-in-touch textarea {
  width: 300px;
}

button {
  background-color: #EF6D58;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  margin-top: 10%;
  padding: 0 20px;
  width: 374px;
}

main header,
main section {
  padding: 0 23px;
}

main header.header-top-site {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  color: #fff;
  z-index: 10;
  transition-duration: 0.5s;
  background: linear-gradient(#28293e00, #28293e00);
}

main header.header-top-site.scroll {
  top: -80px;
  transform: translateY(80px);
  transition-duration: 0.5s;
  background: linear-gradient(#28293e, #28293e00);
}

/* especificidade CSS */
main header > div#container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main header > div#container > div {
  display: flex;
  align-items: center;
}

main header > div#container > div > p {
  margin: 0 0 0 14px;
  font-family: "Epilogue-Bold";
  font-size: 1.5em;
}

main header button {
  width: 48px;
  height: 48px;
  border: 1px solid #FFFFFF30;
  border-radius: 6px;
  background-color: unset;
  margin: 0;
  padding: 0;
}

main .show-mobile {
  display: block;
}

main .show-desktop {
  display: none;
}

main header > div#container > div {
  display: flex;
  align-items: center;
}

main header > div#container > div > p {
  margin: 0 0 0 14px;
  font-family: "Epilogue-Bold";
  font-size: 1.5em;
}

main header button {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff30;
  border-radius: 6px;
  background-color: unset;
}

main #hero {
  width: 100%;
  background-color: #28293e;
  margin-top: -80px;
  padding-top: 80px;
  top: 0;
  min-height: 100vh;
}

main .show-mobile {
  display: block;
}

main .show-desktop {
  display: none;
}

main #hero p,
main #hero h1 {
  color: #fff;
}

main #hero h2 {
  color: #ef6d58;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 4px;
}

main #hero h1 {
  font-size: 3.5em;
  font-family: "Epilogue-Bold";
  font-weight: 900;
  margin: 0;
}

main #hero p {
  letter-spacing: 1px;
  line-height: 2em;
}

main #hero {
  padding: 90px 5% 5% 5%;
}

main #hero .button-group {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

main #hero .button-group button {
  min-width: 150px;
  min-height: 50px;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}

/* pseudo seletor. : significa um seletor condicional */
main #hero .button-group button:first-child {
  background-color: #ef6d58;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 800;
}

main #hero .modern-studio .modern-studio-star {
  position: absolute;
}

main .section-subtitle {
  color: #EF6D58;
  font-size: 1em;
  text-transform: uppercase;
}

main .section-title {
  color: #391400;
  font-weight: 900;
  font-size: 2.5em;
}

main #about-us .about-description > h3 {
  color: #391400;
  font-size: 1.3em;
  font-weight: 400;
}

main .button-link {
  width: 138px;
  height: 48px;
  background-color: #FFF;
  box-shadow: 0px 3px 9px #39140008;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #391400;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
}

main #about-section h3 {
  margin-top: 30px;
}

main .company-data {
  margin-top: 110px;
}

main .company-data > div {
  width: 100%;
  height: 175px;
  background-color: unset;
  border: 1px solid #F3D1BF;
  padding: 45px 0 0 45px;
  color: #391400;
}

main .company-data p {
  margin: 0;
}

main .company-data > div .percentage {
  font-size: 40px;
  font-weight: 800;
}

main .company-data > div .data {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
}

main .features {
  margin-top: 80px;
}

main .features .features-items li {
  /* list-style-image: url("../images/check.png"); */
  background: url("../images/check.png") no-repeat left center;
  padding: 20px 0 17px 47px;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 15px;
}

main .features > div:nth-child(2) {
  margin-top: 130px;
}

main .services .quotation {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

main .services .quotation > div {
  margin-left: 20px;
}

main .services .quotation q {
  font-size: 14px;
  color: #39140065;
}

main .services .quotation small {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  color: #391400;
}

main .services > div:nth-child(2) {
  margin-top: 125px;
}

main .form-input {
  margin-top: 10%;
}
main footer {
  background-color: var(--bg-default);
  padding: 120px 23px 35px 23px;
  display: flex;
  flex-direction: column;
}
main footer #footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 50px;
  width: 100%;
}
main footer #footer-menu ul.menu-list li {
  margin-top: 20px;
}
main footer #footer-menu ul.menu-list li a {
  color: var(--font-color-title);
}
main footer #footer-menu .service {
  padding: 50px 0;
}
main footer #footer-menu .social-media {
  display: flex;
}
main footer #footer-menu .social-media .item {
  width: 48px;
  height: 48px;
  background-color: #EF6D58;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main footer #footer-menu .social-media .item + .item {
  margin-left: 10px;
}
main footer #footer-menu .social-media .item .facebook, main footer #footer-menu .social-media .item .instagram {
  height: 16px;
}
main footer #footer-menu .social-media .item .twitter {
  height: 14px;
}
main footer div#copyright {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
}
main footer div#copyright p {
  color: var(--font-color-alpha);
  width: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}
main footer div#copyright div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
main footer div#copyright div a {
  color: var(--font-color-title);
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  main .show-mobile {
    display: none;
  }

  main .show-desktop {
    display: block;
  }

  main header > #container nav ul {
    display: flex;
  }

  main header > #container nav ul li {
    margin-left: 30px;
  }

  main header > #container nav a {
    color: #FFF;
  }

  main header > #container > a {
    background-color: unset;
    width: 140px;
    height: 48px;
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid #FFFFFF30;
    box-shadow: 0px 8px 10px #00000030;
  }

  main .about-description .button-link {
    margin-top: 30px;
  }

  main #about-us .features {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  main #about-us .features .features-items {
    padding: 0;
  }

  main #about-us .features .features-items li {
    /* list-style-image: url("../images/icons/check.png"); */
    background: url("../images/icons/check.png") no-repeat;
    list-style: none;
    margin: 0;
    vertical-align: middle;
    padding: 10px 0 15px 50px;
    margin-bottom: 15px;
  }

  main footer #footer-menu {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  main footer #footer-menu .service {
    padding: 0;
  }
  main footer div#copyright {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  main footer div#copyright p {
    margin: 0;
    width: auto;
  }
  main footer div#copyright div {
    margin: 0;
  }
  main footer div#copyright div a:nth-child(2) {
    margin-left: 40px;
  }
}
/* breakpoints - ponto de mudança com cada device */
/* desta linha para cima é resolução menor que 576px */
/* medida css e medida do dispositivo */
@keyframes fadeLeftAnimation {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.fadeLeft {
  animation-name: fadeLeftAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes fadeRightAnimation {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.fadeRight {
  animation-name: fadeRightAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes fadeUpAnimation {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.fadeUp {
  animation-name: fadeUpAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* Landscape mode */
/* Tablets e desktop antigos - chromebook */
@media (min-width: 768px) {
  main .show-mobile {
    display: none;
  }

  main .show-desktop {
    display: block;
  }

  main header > #container nav ul {
    display: flex;
  }

  main header > #container nav ul li {
    margin-left: 30px;
  }

  main header > #container nav a {
    color: #fff;
  }

  main header > #container > a {
    background-color: unset;
    width: 140px;
    height: 48px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid #ffffff30;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .features > div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  main #hero .modern-studio > div {
    justify-content: flex-start;
  }

  main #hero .modern-studio > p.description {
    margin-top: 25px;
  }

  main #hero .modern-studio > div {
    margin-top: 35px;
  }

  main #hero .modern-studio > div a:nth-child(2) {
    margin-left: 20px;
  }

  main #hero .user-photo {
    justify-content: unset;
  }

  main #about-us .clients img {
    flex-basis: 185px;
  }

  main #about-us .clients img:nth-child(4) {
    margin: auto;
  }

  main #about-us .clients .row + .row {
    margin-top: 0;
  }

  main #about-us .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main #about-us .about-section > div,
main .services > div:nth-child(1) > div {
    width: 415px;
  }

  main .company-data {
    display: flex;
  }

  main .services > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  main header,
main #hero > div,
main #about-us > div,
main .desktop-max-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  main #about-us .clients img {
    margin: initial !important;
  }

  main #about-us .about-section {
    flex-direction: row;
  }

  main #about-us .features {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  main #about-us .about-section .about-description,
main #about-us .features .about-description {
    margin-left: 50px;
  }
}
/* Maioria dos Desktops */
@media (min-width: 960px) {
  main #hero .modern-studio {
    width: 40%;
  }

  main #hero .modern-studio h1 {
    font-size: 4em;
  }

  main #hero picture {
    width: initial;
  }

  main #about-us .clients img {
    margin-bottom: unset;
  }

  main #about-us .clients img:nth-child(5) {
    margin: initial;
  }
}
/* Notebooks e telas full HD ou superior */
@media (min-width: 1200px) {
  main #hero .modern-studio {
    width: 45%;
  }

  main #hero .modern-studio h1 {
    font-size: 4.5em;
  }

  main #about-us > div,
main .max-width-desktop {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
/* Extralarge - Ex: Ultrawide, iMacPro ou telas acima de 23" */
