/*
SASS

$color: #000;
*/
/*
CSS
*/
:root {
  --font-color-title: #391400;
  --font-color-title-h3: #EF6D58;
  --bg-default: #FDF0E9;
  --font-color-alpha: #39140065;
  --bg-blue-dark: #28293E;
  --font-color-white: #FFF;
  --font-color-white-85: #FFFFFF85;
  --font-color-f3: #F3D1BF;
}
